<!DOCTYPE html>
<html lang="en">
<head>
   <title>404</title>
    <link rel="icon" href="/web-server/public/img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p id="Page404">{{errorMessage}} !!!</p>
    <p id="PageMsg">Check your url address or try again.</p>
    </div>
    {{>footer}}
</body>
</html>