<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
     <link rel="icon" href="/web-server/public/img/weather.png">
</head>
<body>
    <div class="main-content"> {{>header}}
        <p id="about-me">Myself <strong>Bhawana Gaur</strong>.I'm currently pursuing B.tech in Electronics and Communication domain from GGSIPU, New Delhi.
Ardent to learn new technologies, amused by Software Developing and Competitive Programming.
I work hard to achieve self-set targets. A strong believer in the ability to learn new technology and implementing the existing knowledge in order to benefit society and compete with the fast-growing Tech world.
I'm very versatile in nature I tend to take the shape of any box you put me in and yet I never fail to think outside the box.<br><br>
This is my project named Weather App. Technologies I used in this project are:<br>
<br><strong>Frontend : </strong>HTML , CSS , JavaScript<br>
<strong>Backend : </strong>Nodejs<br>
<strong>Framework : </strong>Express.js<br>
<strong>API Used : </strong> Weather Stack API , Mapbox
</p>
    {{!-- <img class="portrait" src="img/Profile.jpg" > --}}
    </div>
    {{>footer}}
</body>
</html>