<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
     <link rel="icon" href="/web-server/public/img/weather.png">
</head>
<body>
    <div class="main-content">{{>header}}         
    <p>{{message}}</p>
    <p id="help-page">
        This Weather-App is a API based webpage which is used to fetch API of different cities all over the world.
        You have to give the location for which you want your forecast and on searching it returns you your weather forecast i.e. temperature (in Celcius),and messages regarding what it feels like etc.<br>
        <br> This app used Weather Stack API and which retrieve instant, accurate weather information for
any location in the world in lightweight JSON format and Mapbox API for getting location.<br>
<br>
To see the code or you want to make your own weather app you can go through my <strong>GitHub Repository </strong>which is mentioned in botton of this page or you can go through this also 
<a href="https://github.com/bhawanagaur143">bhawanagaur143</a>. Clone this repository in your local machine or pull a request to get the code.
    </p>
    <p id="help-greet"><br>Thank You for visiting this page!!</p>
    </div>
    {{>footer}}
</body>
</html>