<footer>
    <p>Created by {{name}}  <a id="social" href="https://www.linkedin.com/in/bhawana-gaur-601322189/">Linkedln</a>             <a id="social" href="https://github.com/bhawanagaur143">GitHub</a></p>
</footer>